<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <title>Hide-A-Form</title>
    </head>
        <body ng-controller="myController">
        <div class="main">
    <div class="cover">
        <img src="background.jpg"/>
    </div>
    <div class="profile">
        <img src="profile.jpg"/>
        <div class="profileItems">
            <div class="formDiv" ng-show="changeForm">
    <form class="nameForm">
				<div class="contentHead">Name: </div><input ng-model="name" class="myInput" type="name" ng-model="nameForm"></input><br/><br/>
                <div class="profileForm">
				Bio: <textarea ng-model="bio" name="bio" class="myInput" rows="8" cols="50" ng-model="bioForm"></textarea><br/><br/>
				Favorite Books: <textarea ng-model="favBooks" name="favBooks" rows="8" cols="50" class="myInput" ng-model="favBooksForm"></textarea><br/><br/>
				Favorite Javascript Libraries:</div> <textarea ng-model="favLibs" class="myInput" name="favLibs" rows="8" cols="50" ng-model="favLibsForm"></textarea><br/><br/>
       
                </form>
            </div>
        <button ng-click="showForm($event)">{{button}}</button>
            <div class="content">
                <h2>Name</h2>
                <p>{{name}}</p>
                <h2>Bio</h2>
                <p>{{bio}}</p>
                <h2>Favorite Books</h2>
                <p>{{favBooks}}</p>
                <h2>Fav JS Libraries</h2>
                <p>{{favLibs}}</p>
            </div>
    
    </body>
</html>